

body{
    margin:0;
}
.section1{
    flex:1;
    background-color: #1F2937;margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:0;
    padding: 0;
    gap:100px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    flex:1;
    flex-wrap: nowrap;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 300px 0 300px;
}
.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px 100px 300px;
    
}
.description{
    width: 300px;
    font-size: 18px;
    color: #E5E7EB;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
.button1{
    background-color: #3882f6;
    padding: 8px 20px;
    color: #E5E7EB;
    font-weight: 800;
    border-radius: 25px;
    border: 0;
}

.img{
    width: 200px;
    height: 200px;
    border-width: 5px;
    border-style: solid ;
    border-color: #3882f6;
    border-radius: 25px;
}

.info{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 0 300px;
}
.info span p{
    color: #1f2937;
}
span{
    width: 200px;
}
h2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.section3{
    background-color: #e5ebeb;
    text-align: center;
    padding: 100px 300px;
}

.section3 p{

    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
div h3{
    text-align: right;
}

.window{
    background-color: #3882f6;
    border-radius: 25px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.section4{
    padding: 100px 300px;
}
.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #F9FAF8;
}
span p{
    flex-wrap: nowrap;
    color: #e5ebeb;
    font-size: 19px;
    margin: 0;
}

.button2{
    border-width: 2px;
    border-color: white;
    background-color: #3882f6;
    border-radius: 25px;
    padding: 8px 15px;
    color: #E5E7EB;
    font-weight: 800;
}
span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    flex: 1;
}

span h3{
    font-size: 20px;
    font-weight: 800;
    color: #e5ebeb;
    margin: 0;
}